<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev from opstree</title>
</head>
<body style="text-align:center; margin:10%">
    <h3 style="color:orange">
    "Hi i am <span style="color:#031b4e">ninja</span> and my name is <span style="color:#031b4e">{{yourname}} </span>" 
    </h3>

</body>
</html>